body{
    background-color: rgb(233, 231, 231);
}
.search-bar{
    padding: 0px 400px 0px 200px;
    margin-left: 50px;
}
#searchResultSection{
    margin-top: 100px;
}

#searchResultSection {
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-gap: 40px;
}
#error-box {
    width:800px;
    margin-left: 250px;
}
#clickedFoodDetailsSection {
    margin: 50px 0px 0px 400px;
}